/*修正画面の入力ページのCSS*/

.fixMeishiForm {
	margin: auto;
	text-align: center;
}

.meishi-form {
	margin: auto;
	font-size: 25px;
    margin-top: -50px;
   	border: 2px solid black;
	height: 1150px;
	width: 550px;
}


.fix-meishiform{
	text-align: left;
	margin-left: 65px;
}

.syuusei {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

label {
	font-size: 20px;
	text-align: left;
	
}

.mini {
	font-size: 14px;
}

.input {
	text-align: left;
    font-size: 80%;
    width: 20em;
    max-width: 100%;
    height: 1.5em;
    max-height: 100%;
    border: 2px solid #999;
}

.input2{
	text-align: left;
    font-size: 80%;
    width: 10em;
    max-width: 100%;
    height: 1.5em;
    max-height: 100%;
    border: 2px solid #999;
}

.error{
	text-align: center;
	font-size: 15px;
	color: red;
}

.errormsg {
	display: inline-block;
	text-align: left;
}


.confirm_text {
    text-align: left;
    top: 10px;
    padding-left: 10px;
    font-size: 80%;
    width: 20em;
    max-width: 100%;
    height: 1.5em;
    max-height: 100%;
    border: 2px solid #999;
	
}

.file {
	text-align: left;
	font-size: 18px;
}

.button-container2{
	position: relative;
	text-align: center;
	margin: 0 auto;
	
	
}

/*入力ページのトップページへ戻るボタン*/
.btn-return2 {
	position: absolute;
	margin-top: 10px;
	font-size: 25px;
	border: 1px solid #999;
	padding: 5px;
	

}

/*入力ページの確認ボタン*/
.btn-submit2{
	font-size: 25px;
	margin-top: 5px;
	margin-left: 390px;
	background-color: white;
	padding: 5px;
	border: 1px solid #999;
	
	
}


/*名刺情報修正確認画面のCSS*/

.meishi-form2 {
	margin: auto;
	font-size: 25px;
    margin-top: -50px;
   	border: 2px solid black;
	height: 1050px;
	width: 550px;
	margin-bottom: 20px;
}

/*名刺情報修正完了画面のCSS*/

.form-fixfix {
	text-align: center;
	border: 2px solid black;
	width: 600px;
	height: 220px;
	margin: auto;
	margin-bottom: 100px;
}

.completeicon {
	position: absolute;
	height: 75px;
	width: 75px;
	margin-left: -235px;
	margin-top: 75px;
}

.toppage {
	position: absolute;
	height: 25px;
	width: 25px;
	margin-left: -35px;
	
}

.button-container3{
	position: absolute;
	text-align: center;
	margin-top: -50px;
	margin-left: 180px;
	border: 1px solid black;
	width: 245px;
	height: 28px;
	max-height: 100%;
}

.btn-return {
	margin: 3px;
}

.btn-ctl {
	margin-top: 80px;
	margin-bottom: 100px;
}