<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>名刺情報 詳細ページ</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/meishi/detailperson.css}">
</head>
<body>
    <div th:replace="~{common/layout::common_header}"></div>
	<div class="menunavi"> 
	<form method="Get" th:action="@{/downloadPdf}">
	  	<img class="print_pdf" th:src="@{/img/printer.png}" alt="プリンター画像">
        <input type="submit" value="印刷" class="menu-button">
        <input type="hidden" name="id" th:value="${id}" />
  	</form>
	</div>
	
    <form class="detailMeishiForm">
        <div class="all-inputmeishi">
            <div class="meishi-form">
                <div class="detail-meishiform">
                    <div>
                        <label for="companyname">企業名</label>
                        <br>
                        <input class="input" type="text" id="companyname" name="companyname" th:value="${companyname}" readonly />
                    </div>
                    <div>
                        <label for="companykananame">企業名（カナ）</label>
                        <br>
                        <input class="input" type="text" id="companykananame" name="companykananame" th:value="${companykananame}" readonly />
                    </div>
                    <div>
                        <label for="personalname">担当者名</label>
                        <br>
                        <input class="input" type="text" id="personalname" name="personalname" th:value="${personalname}" readonly />
                    </div>
                    <div>
                        <label for="personalkananame">担当者名（カナ）</label>
                        <br>
                        <input class="input" type="text" id="personalkananame" name="personalkananame" th:value="${personalkananame}" readonly />
                    </div>
                    <div>
                        <label for="belong">所属</label>
                        <br>
                        <input class="input2" type="text" id="belong" name="belong" th:value="${belong}" readonly />
                    </div>
                    <div>
                        <label for="position">役職</label>
                        <br>
                        <input class="input2" type="text" id="position" name="position" th:value="${position}" readonly />
                    </div>
                    <div>
                        <label for="address">所在地</label>
                        <br>
                        <input class="input" type="text" id="address" name="address" th:value="${address}" readonly />
                    </div>
                    <div>
                        <label for="companytel">会社電話番号</label>
                        <br>
                        <input class="input" type="text" id="companytel" name="companytel" th:value="${companytel}" readonly />
                    </div>
                    <div>
                        <label for="mobiletel">携帯電話番号</label>
                        <br>
                        <input class="input" type="text" id="mobiletel" name="mobiletel" th:value="${mobiletel}" readonly />
                    </div>
                    <div>
                        <label for="email">Eメールアドレス</label>
                        <br>
                        <input class="input" type="text" id="email" name="email" th:value="${email}" readonly />
                    </div>
                </div>
                <div class="photolook">
                    <div>
                        <img th:src="@{${omoteImagePath}}" height="100" width="200" alt="名刺写真（表面）">
                    </div>
                    <div class="photoura">
                        <div th:if="${uraImagePath != null}">
                            <img th:src="@{${uraImagePath}}" height="100" width="200" alt="名刺写真（裏面）">
                        </div>
                        <div th:if="${uraImagePath == null}">
                            <span>名刺写真（裏面）なし</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="id" name="id" th:value="${id}">
            </div>
        </div>
    </form>

    <div class="flexbox">
        <div class="flex-item item01">
            <form method="post" th:action="@{/deleteMeishi}">
                <img class="deleteicon" th:src="@{/img/deleteicon.png}" alt="削除マーク">
                <input type="submit" value="削除" class="add01" onclick="return confirm('本当に削除しますか？');">
                <input type="hidden" name="id" th:value="${id}">
            </form>
        </div>
        <div class="flex-item item02">
            <form method="post" th:action="@{/fixMeishi}" class="inline-form">
                <img class="syuuseiicon" th:src="@{/img/syuuseiicon.png}" alt="修正マーク">
                <input type="submit" name="fix_meishi" value="修正" class="add02">
                <input type="hidden" name="id" th:value="${id}">
                <input type="hidden" name="personalname" th:value="${personalname}">
                <input type="hidden" name="personalkananame" th:value="${personalkananame}">
                <input type="hidden" name="mobiletel" th:value="${mobiletel}">
                <input type="hidden" name="email" th:value="${email}">
                <input type="hidden" name="photoomotePath" th:value="${photoomotePath}">
                <input type="hidden" name="photouraPath" th:value="${photouraPath}">
            </form>
        </div>
    </div>

    <div th:replace="~{common/layout::common_footer}"></div>
</body>
</html>



