<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>名刺情報検索結果ページ</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/meishi/searchmeishi.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
    <div th:replace="~{common/layout::common_header}"></div>

    <div id="errorMessage" class="error-message"></div>
    <div class="content">
        <form id="searchForm" class="search_form" method="get" th:action="@{/searchResults}">
            <h2 class="kensaku">検索ページ</h2>
             
            <div class="search-type">
                <div>
                    <input type="radio" id="companyKanaExact" name="searchType" value="companyKanaExact" checked>
                    <label for="companyKanaExact">企業名（カナ）完全一致</label>
                </div>
                <div>
                    <input type="radio" id="companyKanaPartial" name="searchType" value="companyKanaPartial" >
                    <label for="companyKanaPartial">企業名（カナ）部分一致</label>
                </div>
                <div>
                    <input type="radio" id="personalKanaPartial" name="searchType" value="personalKanaPartial" >
                    <label for="personalKanaPartial">担当者名（カナ）部分一致</label>
                </div>
            </div>
            
            <input type="text" id="keyword" name="keyword" class="search_box" placeholder="全角カナを入力" required>
            <input type="image" class="searchicon3" th:src="@{/img/searchicon.png}" alt="検索マーク画像">
        </form>

    <div th:if="${groupedResults != null}" class="meishiresult">
        <div th:if="${groupedResults.isEmpty()}">
            検索結果はありません。
        </div>
        <div th:each="entry : ${groupedResults.entrySet()}" class="group-container">
            <h2 class="compamytitle" th:text="'企業名： ' + ${entry.key}"></h2>
            <ul>
                <div th:each="meishi : ${entry.value}" class="result-container">
                    <div class="meishi-info">
                    <div class="result-item1">
                         <!--画像を表示 -->
                        <img th:src="@{|${meishi.omoteImagePath}|}" height="100" width="200" alt="名刺写真（表面）">
                    </div>
                    
                    <div class="result-info">
                    <div class="result-item2">
                        <span th:text="${meishi.companyname}"></span>
                    </div>
                    <div class="result-item2">
                        <span th:text="${meishi.personalname}"></span>
                    </div>
                    
                    
                    <div class="result-item2">
					    <span th:text="${meishi.email}">メールアドレス</span>
					    <button class="copybutton" th:attr="data-email=${meishi.email}">
					        <img th:src="@{/img/copyicon.png}" alt="コピー画像" class="menu-gazou2">
					    </button>
					</div>


                                       
                   <!--<div class="result-item2">
		                <span th:text="${meishi.email}">メールアドレス</span>
		                <button class="copybutton" th:text="${meishi.email}" >
		                    <img th:src="@{/img/copyicon.png}" alt="コピー画像" class="menu-gazou2">
		                </button>
		            </div>-->
		          
                 
                    </div>
                    </div>
                    
                    <div class="btn-ctl">
                        <div class="button-container">
                            <form method="post" th:action="@{/detailperson}">
                                <input type="hidden" name="id" th:value="${meishi.id}"/>
                                <input type="image" th:src="@{/img/clickicon.png}" alt="選択クリック画像"  class="menu-gazou1">
                                <input type="submit" value="選択" class="choice">
                            </form>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    
    
    
    
    
    <div th:replace="~{common/layout::common_footer}"></div>
    
    <script>
	document.addEventListener('DOMContentLoaded', function() {
	    var copyButtons = document.querySelectorAll('.copybutton');
	    copyButtons.forEach(function(button) {
	        button.addEventListener('click', function() {
	            var email = button.getAttribute('data-email');
	            navigator.clipboard.writeText(email).then(function() {
	                alert('コピーしました: ' + email);
	            }, function(err) {
	                alert('コピーに失敗しました: ' + err);
	            });
	        });
	    });
	});
	</script>

  <!--<script>
	  document.addEventListener('DOMContentLoaded', function() {
		    var copyButtons = document.querySelectorAll('.copybutton');
		    copyButtons.forEach(function(button) {
		        button.addEventListener('click', function() {
		            var email = this.textContent.trim();
		
		            console.log('メールアドレス:', email); // デバッグ用
		
		            navigator.clipboard.writeText(email).then(function() {
		                alert('コピーしました: ' + email);
		            }, function(err) {
		                alert('コピーに失敗しました: ' + err);
		            });
		        });
		    });
		});
    </script>-->
</body>
</html>





<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>名刺情報検索結果ページ</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/meishi/searchmeishi.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
    <div th:replace="~{common/layout::common_header}"></div>

    <div id="errorMessage" class="error-message"></div>
    <div class="content">
        <form id="searchForm" class="search_form" method="get" th:action="@{/searchResults}">
            <h2 class="kensaku">検索ページ</h2>
             
            <div class="search-type">
                <div>
                    <input type="radio" id="companyKanaExact" name="searchType" value="companyKanaExact" checked>
                    <label for="companyKanaExact">企業名（カナ）完全一致</label>
                </div>
                <div>
                    <input type="radio" id="companyKanaPartial" name="searchType" value="companyKanaPartial" >
                    <label for="companyKanaPartial">企業名（カナ）部分一致</label>
                </div>
                <div>
                    <input type="radio" id="personalKanaPartial" name="searchType" value="personalKanaPartial" >
                    <label for="personalKanaPartial">担当者名（カナ）部分一致</label>
                </div>
            </div>
            
            <input type="text" id="keyword" name="keyword" class="search_box" placeholder="全角カナを入力" required>
            <input type="image" class="searchicon3" th:src="@{/img/searchicon.png}" alt="検索マーク画像">
        </form>

    <div th:if="${meishis != null}" class="meishiresult">
        <div th:if="${meishis.isEmpty()}">
            検索結果はありません。
        </div>
        <div th:each="meishi : ${meishis}" class="result-container">
            <div class="meishi-info">
            <div class="result-item1">
				
				  画像を表示 
                    <img th:src="@{|${meishi.omoteImagePath}|}" height="100" width="200" alt="名刺写真（表面）">
            </div>
            
            <div class="result-info">
            <div class="result-item2">
                <span th:text="${meishi.companyname}"></span>
            </div>
            <div class="result-item2">
                <span th:text="${meishi.personalname}"></span>
            </div>
            <div class="result-item2">
                <span th:text="${meishi.email}"></span>
            </div>
            
             デバッグメッセージを追加 
		        <div class="result-item2">
		            <span th:text="'デバッグ: ' + ${meishi.email}"></span>
		        </div>
            
            
            </div>
            </div>
            
            <div class="btn-ctl">
                <div class="button-container">
                    <form method="post" th:action="@{/detailperson}">
                        <input type="hidden" name="id" th:value="${meishi.id}"/>
                        <input type="submit" value="選択" class="choice">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="~{common/layout::common_footer}"></div>
</body>
</html>-->

