<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ユーザー登録確認</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/login/login.css}" /> 
</head>
<body>
<header>
        <h1>名刺管理システム</h1>
</header>

<form class="form-register2" method="post" th:action="@{/new/complete}" th:object="${userForm}">
<h2 class="form-login-heading">
	<img class="newuser"  th:src="@{/img/newuser.png}" alt="ユーザー登録画像">
	&ensp;新規ユーザー登録（確認）</h2>

<!--<form class="main-form" method="post" th:action="@{/new/complete}" th:object="${userForm}">-->
  <!-- 確認内容の表示 -->
  
    <div class="form-container2">
    <h3>
		<img class="usermark" th:src="@{/img/usermark.png}" alt="ユーザー画像">
		ユーザー名:</h3>
		<input type="text" class="form-username" th:field="*{username}" autofocus="autofocus" pattern="^[0-9A-Za-z]+$" readonly>
    
    <h3>
		<img class="passkeymark" th:src="@{/img/passkeymark.png}" alt="パスワード画像">
		パスワード:</h3>
		<input type="password" class="form-pass" id="password" name="password" autofocus="autofocus" th:value="${userForm.password}" >
    
    <br>
    <div class="btn">
		<a th:href="@{/new/register}" class="btn-success2">戻る</a> 
		<input type="submit" class="btn-submit2" value="登録">
    　　
    </div>
  </div>

</form>


<div th:replace="~{common/layout::common_footer}"></div>
</body>
</html>

