<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ログイン画面 </title>
        <link rel="stylesheet" th:href="@{/css/layout.css}" />
        <link rel="stylesheet" th:href="@{/css/login/login.css}" />
    </head>
    <body>
		<header class="header">
		<h1>名刺管理システム</h1>
	</header>
	
	<form class="form-login" th:method="post" th:action="@{/login}">
		<div>
		<h2 class="form-login-heading">
			<img th:src="@{/loginmark.png}" alt="Icon 1">

			ログイン画面</h2>
		</div>
		
		 <!-- ログイン失敗時のエラーメッセージ表示 -->
	    <div th:if="${param.error}" class="alert-danger" th:text="${ErrorMessage}">            
	    </div> 
			
    
        <form class="main-form" th:action="@{/login}" th:method="post">
            <h3> 
				<img src="/img/usermark.png" alt="Icon 2">
				<!--<img src="/img/usermark.png" alt="ユーザーの画像">-->
				ユーザー名:</h3>
				<input type="text" class="form-username" name="username" required="required" autofocus="autofocus" pattern="^[a-zA-Z0-9]+$"/> 
            
            <h3> 
				<img src="/img/passkeymark.png" alt="Icon 3">
				<!--<img src="/img/passkeymark.png" alt="パスワードの画像">-->
				パスワード: </h3>
				<input type="password" class="form-pass" name="password" required="required" pattern="^[a-zA-Z0-9]+$"/> 
           
           <br>
           <div class="btn">
			   <a th:href="@{/new/register}" class="btn-success2">新規登録</a>
           		<input type="submit" class="btn-submit2" value="ログイン">
        	
			
			</div>
			<br>
		</form>
    </form>
        
        
     <!--上記はサイトの中身-->
	
	<div th:replace="~{common/layout::common_footer}"></div>
</body>
</html>