<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規ユーザー登録</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
	<header>
        <h1>名刺管理システム</h1>
    </header>


<form method="post" th:action="@{/new/confirm}" th:object="${userForm}" class="form-register">
	<h2 class="form-login-heading">
		<img class="newuser"  th:src="@{/img/newuser.png}" alt="ユーザー登録画像">
		新規ユーザー登録</h2>
	
	<div class="center-container">
    <div class="form-container">
		
	<div th:if="${errorMessage}" class="alert-danger">
        <p th:text="${errorMessage}" class="alert-danger"></p>
    </div>
    
    <small class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
    <br>
	<small class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
    
    
    <div class="h4">
		<h3>
		<img class="usermark" th:src="@{/img/usermark.png}" alt="ユーザー画像">
		ユーザー名:</h3>
        <input type="text" class="form-username" id="username" th:field="*{username}">
        

    </div>
  
    <div class="h4">
		<h3>
		<img class="passkeymark" th:src="@{/img/passkeymark.png}" alt="パスワード画像">
		パスワード:</h3>
        <input type="password" class="form-pass" id="password" th:field="*{password}">
		
    </div>
 
 	 <div class="btn">
			<a th:href="@{/}" class="btn-success2">ログイン画面へ</a>
			<input type="submit" class="btn-submit2" value="確認">    	
	    	
	  </div>
 
    </div>
	</div>
</form>
	
<div th:replace="~{common/layout::common_footer}"></div>
</body>
</html>